@charset "UTF-8";

/* 배경색 : C1E3FS/ 폰트색 : 0D4290*/

.color-d{
	
	background: #0D4290;
	
}

.color-n{
	
	background : #0A56BD;
	
}

.color-hi{
	
	background: #C1E3F5;
	
}

.color-m{
	
	background : #55C2F5;
	
}

